.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.content-wrap {
  padding-bottom: 15rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

label, p {
  font-size: 1.4rem;
}

span {
  font-size: 2rem;
}

/* Navigation styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(150,200,224);
  background: linear-gradient(90deg, rgba(150,200,224,1) 0%, rgba(130,164,220,1) 50%, rgba(26,112,226,1) 100%);
}

.logo-container {
  width: 12%;
}

.logo {
  width: 280px;
  margin: 10px 20px;
}

nav {
  width: 35%;
}

nav a {
  margin-left: 10%;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #cccccc;
}

.active-nav {
  color: #cccccc;

/* Trips Forms styling */

.form-style-10{
  width:450px;
  padding:30px;
  margin:40px auto;
  background: #FFF;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
  padding: 30px;
  background: #F8F8F8;
  border-radius: 6px;
  margin-bottom: 15px;
}
.form-style-10 h1{
  background: #2A88AD;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
  display: block;
  margin-top: 2px;
  font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #888;
  margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
  font: normal 20px 'Bitter', serif;
  color: #2A88AD;
  margin-bottom: 5px;
}
.form-style-10 .section span {
  background: #2A88AD;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 4px solid #fff;
  font-size: 14px;
  margin-left: -45px;
  color: #fff;
  margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
  background: #2A88AD;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
  background: #2A6881;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

button {
 margin: 0 auto;
}

/* Login styling */

.login-div {
  text-align: center;
  bottom: 0;
  border: 1px solid #FBF2DB;
  position:relative;
  top:60px;
  left:0;
  height: 100%;
  margin-bottom: 50px;
}

.login-h1 {
  margin-top: 10%;
}

.login-link {
  text-decoration: none;
  color: #2CB6E8;
}

.login-logo {
  margin-top: 2%;
  width: 30%;
}

/* Registration form styling */

.regi-text-input:focus, .regi-input-button:focus {
  outline: none;
}

.regi-input-h1 {
  color: #1A70E2;
}

.regi-text-input {
  width: 20%;
  padding: .7%;
  border-radius: 10px;
  border: 2px solid #2CB6E8;
  margin: .5% auto;
  font-size: 1.1rem;
}

.regi-input-button {
  margin-top: 1%;
  margin-left: 1%;
}

.regi-input-warning {
  color: red;
  margin: 0;
}

.regi-input-button {
  border-radius: 20px;
  background: #2CB6E8;
  color: white;
  width: 8%;
  font-size: 1.5rem;
  border: 2px solid #404040;
  padding: .5% 0;
}

/* Registration Choose styling */

.regiDiv{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-banner {
  width: 100%;
  height: 10vh;
  background: #2CB6E8;
}

.regi-choice {
  width: 70%;
}

.choice-div {
  margin: 0 auto;
  margin-top: 5%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.regi-h1 {
  font-size: 3rem;
  padding-top: 0.3%;
  margin-top: 2%;
  color: #1A70E2;
}

.regi-h2 {
  font-size: 2rem;
  margin-top: 15%;
  color: #1A70E2;
}

.regi-button{
  border-radius: 20px;
  background: #2CB6E8;
  color: white;
  width: 8%;
  font-size: 1.5rem;
  border: 2px solid #404040;
  padding: .5% 0;
}

/* Footer styling */

.footer {
  /* background: rgb(150,200,224);
  background: linear-gradient(90deg, rgba(150,200,224,1) 0%, rgba(130,164,220,1) 50%, rgba(26,112,226,1) 100%); */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom:0;
  width:100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

footer p {
  font-size: 1.8rem;
  color: #1A70E2;
}

footer p a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #1A70E2;
}