.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Login styling */

.login-div {
  text-align: center;
  background-color: #FBF2BD;
  bottom: 0;
  border: 1px solid #FBF2BD;
  position:relative;
  top:0;
  left:0;
  height: 99.7vh;
  width: 99.8%;
}

.login-h1 {
  margin-top: 10%;
}

.login-link {
  text-decoration: none;
  color: #2CB6E8;
}

.login-logo {
  margin-top: 2%;
  width: 30%;
}

/* Registration form styling */

.regi-text-input:focus, .regi-input-button:focus {
  outline: none;
}

.regi-input-h1 {
  color: #1A70E2;
}

.regi-text-input {
  width: 20%;
  padding: .7%;
  border-radius: 10px;
  border: 2px solid #2CB6E8;
  margin: .5% auto;
}

.regi-input-button {
  margin-top: 1%;
  margin-left: 1%;
}

.regi-input-warning {
  color: red;
  margin: 0;
}

.regi-input-button {
  border-radius: 20px;
  background: #2CB6E8;
  color: #FBF2BD;
  width: 8%;
  font-size: 1.5rem;
  border: 2px solid #404040;
  padding: .5% 0;
}

/* Registration Choose styling */

.regiDiv{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /*border: 1px solid black;*/
}

.login-banner {
  width: 100%;
  height: 10vh;
  background: #2CB6E8;
}

.regi-choice {
  width: 70%;
}

.choice-div {
  margin: 0 auto;
  margin-top: 5%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.regi-h1 {
  font-size: 3rem;
  padding-top: 0.3%;
  margin-top: 2%;
  color: #1A70E2;
  /*-webkit-text-stroke: 1px #FBF2BD;*/
}

.regi-h2 {
  font-size: 2rem;
  margin-top: 15%;
  color: #1A70E2;
}

.regi-button{
  border-radius: 20px;
  background: #2CB6E8;
  color: #FBF2BD;
  width: 8%;
  font-size: 1.5rem;
  border: 2px solid #404040;
  padding: .5% 0;
}