.login-div {
    text-align: center;
    background-color: #FBF2BD;
    bottom: 0;
    border: 1px solid #FBF2BD;
    position:relative;
    top:0;
    left:0;
    height: 99.7vh;
    width: 99.8%;
}

.login-h1 {
    margin-top: 10%;
}
  
.login-link {
    text-decoration: none;
    color: #2CB6E8;
}
  
.login-logo {
    margin-top: 2%;
    width: 30%;
}