.regi-text-input:focus, .regi-input-button:focus {
    outline: none;
}

.regi-input-h1 {
    color: #1A70E2;
}

.regi-text-input {
    width: 20%;
    padding: .7%;
    border-radius: 10px;
    border: 2px solid #2CB6E8;
    margin: .5% auto;
}

.regi-input-button {
    margin-top: 1%;
    margin-left: 1%;
}

.regi-input-warning {
    color: red;
    margin: 0;
}

.regi-input-button {
    border-radius: 20px;
    background: #2CB6E8;
    color: #FBF2BD;
    width: 8%;
    font-size: 1.5rem;
    border: 2px solid #404040;
    padding: .5% 0;
}